<%- include('partials/head', { title: "Dashboard" }) %>
<!---->
<%- include('partials/header', { current_nav: "dashboard" }) %>
<!---->
<main class="main_container_dashboard">
  <% if (user.role === 'admin') { %>
  <!-- ADMIN-ONLY: Message Panel -->
  <div class="admin_panel_container">
    <div
      class="auth_error"
      id="admin_error_message"
      style="display: none"
    ></div>
    <form id="message_form">
      <div class="form_inputs_container">
        <div class="form_input_container">
          <label for="message_content">Broadcast Message:</label>
          <textarea
            name="message_content"
            id="message_content"
            rows="4"
            required
            class="message_textarea"
          ></textarea>
        </div>
      </div>
      <span class="index_button_container">
        <button type="button" class="clear_button" onclick="clearMessageForm()">
          Clear
        </button>
        <button
          class="send_message_button"
          type="submit"
          id="submit_message_button"
        >
          Send
        </button>
      </span>
    </form>
  </div>
  <% } %>

  <div class="notifications_container">
    <div class="notification_block">
      <h1>Messages</h1>
      <div class="user_info">
        <div
          class="<%= user.role === 'admin' ? 'admin_role_div' : 'user_role_div' %>"
        >
          <%= user.role.toUpperCase() %>
        </div>
        <h2
          class="<%= user.role === 'admin' ? 'admin_username' : 'user_username' %>"
        >
          <%= user.username %>
        </h2>
      </div>

      <div
        class="<%= user.role === 'admin' ? 'messages_container admin_h' : 'messages_container user_h' %>"
        id="messages_container"
      ></div>
      <button id="load_older_btn" class="get_messages_button">
        (+10) Load from Archive
      </button>
    </div>

    <% if (user.role === 'admin') { %>
    <!-- ADMIN-ONLY: User List -->
    <div class="online_user_block">
      <h1>
        Online
        <!-- <br />
        <span class="active_ws">(Active WS)</span> -->
      </h1>
    </div>
    <% } %>
  </div>
</main>

<%- include('partials/footer') %>
<script src="js/dashboard.js"></script>
